table {
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    text-align: center;
}

td,
th {
    border: 1px solid black;
}

caption {
    border: 1px solid black;
    border-bottom: none;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.weekend {
    color: red;
}