.hero {
  position: relative;
}

.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: clamp(433px, 13.823rem + 56.49vw, 742px);
}

.hero__header {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

@media (width > 768px) {
  .hero__header {
    align-items: center;
  }
}

@media (width <=768px) {
  .hero__header {
    flex-direction: column;
  }
}

.hero__img {
  position: absolute;
  top: 88px;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--layer-negative);
}

.hero__title-accent {
  color: transparent;
  -webkit-text-stroke: 3px var(--accent-color);
}

.hero__title {
  display: flex;
  justify-content: center;
  /* min-width 375px,max-width 1920px; */
  gap: clamp(8px, 0.09rem + 1.75vw, 35px);
  font-family: var(--font-family);
  font-weight: 600;
  /* min-width 375px,max-width 1920px; */
  font-size: clamp(48px, 1.786rem + 5.18vw, 128px);
  text-transform: uppercase;
  color: var(--main-color);
}


.hero__benefits-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (width > 768px) {
  .hero__benefits-list {
    position: absolute;
    left: 0;
  }
}

.hero__benefits-item {
  left: 0px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-color);
}


.hero__footer {
  text-align: end;
  padding-bottom: 20px;
}

.hero__footer-details {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-color);
  transition: color var(--transition-time);
}

@media(any-hover: hover) {
  .hero__footer-details:hover {
    color: var(--accent-color);
  }
}

.hero__details-icon {
  stroke: currentColor;
}