.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #D3CBD9;
    gap: 10px;
}

.phone {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: right;
    color: #535755;
}

.phone p {
    margin-bottom: 8px;
}

.phone-link {
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #2C332F;
    transition: color 0.2s;
}

.phone-link:hover{
    color: #000000;
}