.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 40px;
  padding-bottom: 24px;
  background-color: var(--bg-color);
}

.header--fixed {
  box-shadow: 0 0 20px 0 var(--shadow-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-right: 120px;
}

.header__menu {
  flex-grow: 1;
}

.header__controls {
  display: flex;
  align-items: center;
  gap: 60px;
}

.header__order {
  position: relative;
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

@media (any-hover: hover) {
  .header__order:hover::before {
    opacity: 1;
    visibility: visible;
  }
}

.header__order::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 90%;
  min-height: 11px;
  transform: translate(-50%, -50%);
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: blur(30px);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-time), visibility var(--transition-time);
}

.header__actions {
  display: flex;
  gap: 20px;
}

.header__actions-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--main-color);
  transition: color var(--transition-time);
}

@media (any-hover: hover) {
  .header__actions-button:hover {
    color: var(--accent-color);
  }
}

.header__actions-button:active {
  color: var(--accent-color);
}

.header__actions-icon {
  stroke: currentColor;
}
