@media(width>768px) {
    .burger {
        display: none;
    }
}

@media (width<=768px) {
    .burger {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        z-index: var(--layer-3);
    }

    .burger__icon-menu,
    .burger--open .burger__icon-cross {
        display: block;
    }

    .burger__icon-cross,
    .burger--open .burger__icon-menu {
        display: none;
    }
}