.article {
    padding-top: 80px;
    padding-bottom: 120px;
}

.article-title {
    margin-bottom: 40px;
    font-family: oswald;
    font-weight: 600;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.article-title-large {
    max-width: 596px;
    font-size: 48px;
}

.article-title-medium {
    font-size: 36px;
}

.article-text {
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.article-mb {
    margin-bottom: 40px;
}

.article-mb-2 {
    margin-bottom: 40px;

}

.article-decor-wrapper {
    position: relative;
}

.article-decor-wrapper::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: url(../images/decor.svg) no-repeat;
    width: 528px;
    height: 48px;
}

.article-decor-wrapper-1::before {
    top: 100px;
    left: -350px;
}

.article-img {
    width: 100%;
    height: 512px;
}

ul {
    list-style: none;
    position: relative;
    margin-left: 16px;
}

li::before {
    position: absolute;
    list-style-type: none;
    content: "";
    background: url(../images/Ellipse.svg) no-repeat;
    height: 8px;
    width: 8px;
    margin: 0;
    padding: 0;
    left: -16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-list {
    margin-top: 0;
    padding-left: 0;
}

.article-item {
    margin-bottom: 12px;
}

.article-decor-wrapper-2::before {
    top: 136px;
    right: -350px;
}

.article-play {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    padding: 0;
    background-color: rgb(0, 110, 255);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.article-decor-wrapper::before {
    display: none;
}

