* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

.grid-container {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 250px);
	grid-template-rows: repeat(2, 400px);
	grid-auto-rows: 400px;
	gap: 20px;


}

.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);

}

.wrapper {
	min-height: 100vh;
}

.header {
	background-color: #f00;
	min-height: 100px;
	grid-column: 1 / 12 span;
}

.aside {
	background-color: #e2e20d;
	grid-column: 1 / 2 span;

}

.main {
	background-color: #31bb0a;
	padding-top: 30px;
	padding-bottom: 30px;
	grid-column: 3 / 12 span;
}



article {
	background-color: #de6e05;
	min-height: 200px;
}

.footer {
	background-color: #0b2fe2;
	min-height: 250px;
	grid-column: 1 / 12 span;
}

@media (width <=1200px) {
	.aside {
		grid-column: 1 / 3 span;
	}
	.main {
		grid-column: 4 / 12 span;
	}
}

@media (width <=768px) {
	.aside {
		display: none;
	}

	.main {
		grid-column: 1 / 12 span;
	}
}