:root {
  /* font-family */
  --font-family: "AvenirNextCyr", sans-serif;

  /* colors */
  --accent-color: #00e0ff;
  --secondary-color: #FFFFFF;
  --rare-color: #08B1B9;
  --bg-gradient1: linear-gradient(286.41deg, #022335 3.63%, #043a41 90.98%);
  --bg-gradient2: linear-gradient(286.41deg, rgba(2, 35, 53, 0.8) 3.68%, rgba(12, 55, 61, 0.8) 91.42%);
  --bg-elements:  linear-gradient(180deg, rgba(0, 224, 255, 0.11) 0%, rgba(0, 224, 255, 0.05) 100%);


  /* .dont use */
  --disabled-color: #5d5d56;
  --header-shadow: #181817;

  /* .container */
  --container-width: 1200px;
  --container-padding: 30px
}